.card  h5 {
    color: #6e6e6e;
}

.card h3 {
  color: #1f4d9e;  
}

.card h4 {
    color: #5f8dbb;
}

.clickable {
    cursor: pointer;
}

.card {
    padding: 10px;
    border-radius: 12px;
}

.card:hover {
    background: #e9f4fe;
    transition: all 0.3s ease;
}

.card .titles {
    display: flex;

}

.card .titles > * {
    margin-top: 3px;
    
}

.card .titles > h3 {
width: 100%;
}

.card .titles > h5, h4 {
    white-space: nowrap;
}

.card > p {
    margin-top: 0px;
}
